/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

   body {
    background-color: white;
    color: black;
    font-family: Verdana;
  }
  
  .lessons_list {
    color: red;
    font-size:24px;
    text-transform:uppercase;
    }
    
  .tasks_list {
    font-size: 18px;
    list-style: none;
    }
  .class_tasks, .class_tasks a  {
    color:magenta;
    text-transform:none;
    }
  .home_tasks, .home_tasks a {
    color: green;
    text-transform:none;
    }
  
  .class_tasks:before {
    background: url("img/class.png");
    }
    
  .home_tasks:before {
    background: url("img/home.png");
    }  
  
  .class_tasks:before, .home_tasks:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-size: 100%;
    }
  
  .class_tasks ul, .home_tasks ul {
    display: none;
    } 
    
  .class_tasks:hover ul, .home_tasks:hover ul {
    display: block;
    }  
  
  
  
  
  
  
  
  