h1, h3 {
  text-align: center;
}

.catalog {
  width: 90%;
}

.catalog, .row {
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px;
}

.row a {
  text-decoration: none;
}

.film_card{
  width:220px;
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #a52a2a2b;
  border-radius: 10px;
  background-color: blanchedalmond;
}

.film_card:hover {
  border-color: brown;
  background-color: #d69e497a;
}

.film_title{
  text-transform: uppercase;
  color: #671454;
  font-weight: 800;
  text-shadow: 0px 0px 5px #ffeb3bd4;
}

.film_card img{
  width: 200px;
  height: 275px;
  border-radius: 10px;
}

.film_info{
  margin: 0 auto;
  width: 200px;
}

.money, .year {
  color: #dc0303;
}
.money{
  display: inline-block;
  width: 49%;
  text-align: left;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}

.year{
  display: inline-block;
  width: 49%;
  text-align: right;
}